/*  ----------------FULL PAGE----------------  */
.page{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F8F8F8;
}
/*  ----------------HEADINGS AND FONTS----------------  */

h1{
    color: #FFFFFF;
    font-family:  'Nunito', sans-serif;
    font-size: 59px;
    font-weight: 700; 
}

h2{
    color: white;
    font-family:'Fredericka the Great', cursive;
    font-weight: 400px;
    font-size: 48px;

    
}
h3{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 700px;
    font-size: 24px;
    
}
h4{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
h5{
    color: #2E2E2E;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #2E2E2E;
    font-weight: 400;
}
/*  ----------------MAIN NAVIGATION----------------  */
.navbar {
    max-width: 1440px;
    background:#1C063B;
}
#navbarNav {
   padding: 0;
   justify-content: center;
}
.navbutton{
    background-color: #1c063b00;
    height: 73px;
    width: 190px;
    display: inline-block;
    border: none;
}
.navbutton:hover{
    border: 3px solid #F2A2B8;
}
nav a {
    text-decoration: none; 
    color: #F8F8F8;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
nav a:hover {
    color: #F8F8F8;
}
nav a:active{
    background-color:#F2A2B8;
    color: #1C063B;
}
/*  ----------------CASE STUDY NAVIGATION----------------  */
.casestudy{
    min-height: 70px;
    background-color: #F8F8F8;
    float: none;
    align-items: center;
    justify-content: center;
}
.navbar-nav .casestudy{
    display: inline-block;
    float: none;
    align-items: center;
    justify-content: center;
}
.casestudy a{
    color: #1C063B;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    position: relative;
}
.casestudy a:hover{
    color: #1C063B;
}
.casestudy li:hover{
    color: #1C063B;
    border: 2px solid #F2A2B8;
}
/*  ---------------- JUMBOTRON AND HERO IMAGE ----------------  */
.hero{
    background-color: #17607A;
    max-height: 750px;
    max-width: 1440px;
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.herotext{
    max-height: 50%;
    max-width: 50%;
    align-content: center;
    justify-content: center;
    float: left;
}
.hero h5{
    color: #F8F8F8;
}
.heroimage {
    align-content: center;
    border: solid white;
    box-shadow: 0 0 3px #F8F8F8;
    float: right;
}
.hero h3{
    padding-bottom: 15px !important; 
}
.hero h2{
    padding-bottom: 15px !important;
}
/*  ---------------- ABOUT PROJECT ----------------  */
.about{
    padding-right: 100px;
    padding-left: 100px;
}
.about h2{
    color: #17607A;
}
.about h5{
    color: black;
}
.about p{
    color: #1E1E1E;
}

/*  ---------------- DESIGN PROCESS ----------------  */
.designprocess{
    padding-left: 100px;
    padding-right: 100px;
}
.sectionheading{
    min-width: 100%;
    background-color: #17607A;
    align-content: center;
    text-align: center;
    padding: 30px;
}

/*  ---------------- USER RESEARCH ----------------  */
.urimage{
    background-image: url(images/researchimage.jpg);
    background-size: cover;
    padding: 50px;  
    max-height: 579px;
    max-width: 610px;
}
.urimage h5 {
    color: #F8F8F8;
}
    
/*  ---------------- DEFINITION ----------------  */
/*  ---------------- IDEATION ----------------  */
/*  ---------------- VISUAL DESIGN ----------------  */
/*  ---------------- PROTOTYPE ----------------  */
/*  ---------------- TESTING ----------------  */
/*  ---------------- CONCLUSION ----------------  */
/*  ----------------FOOTER----------------  */
footer{
    background-color: #1C063B;
    min-height: 378px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.social {
    align-content: center;
    display: inline-block;
}
.p-3{
    color: #F8F8F8;

}
.buttonsection{
    display: inline-flex;
    
}
.copyright{
    padding-top:150px;
    text-align: center;
    color: #F8F8F8;
    padding-bottom: 20px;
}